@import "../../styles/config.scss";
@import "../../styles/utilities";

#about {
  &-a {
    .about-info {
      display: grid;
      grid-template-areas:
        "bio-image bio bio"
        "aw1 aw2 aw3";
      gap: 2rem;

      //
      .bio-image {
        grid-area: bio-image;
        object-fit: cover;
        height: 100%;
      }

      //
      .bio-content {
        gap: 1rem;
        grid-area: bio;
        border-left: 3px solid $main-color;
        padding: 1rem;
      }
    }
  }

  &-b {
    margin-bottom: 4rem;
    .center{
      max-width: 700px;
      margin: 0 auto;
    }
    .progress {
      height: 2rem;
      background: $medium-color;
      border-radius: 1rem;
      overflow: hidden;
      margin-bottom: 1rem;

      div {
        height: 100%;
      }
    }
  }
}

// media queries //
@import "../../styles/media";
