@import "../../styles/config.scss";
@import "../../styles/utilities";

#home {
  &-a {
    .specials {
      margin-top: 5rem;
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(4, 1fr);

      i {
        color: $main-color;
        font-size: 4rem;
        padding-bottom: 0.5rem;
      }
    }
  }
  &-b {
    .stats {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      div {
        padding: 3rem 0;
        &:nth-child(odd) {
          background-color: $light-color;
        }
        &:nth-child(even) {
          background-color: $medium-color;
        }
      }

      i {
        font-size: 6rem;
      }

      li {
        line-height: 2;

        &.stats-title {
          font-size: 2rem;
        }
        &.stats-number {
          font-size: 3rem;
          font-weight: bold;
        }
      }
    }
  }

  &-c {
    .process {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
      margin-top: 5rem;

      .process-icon {
        position: relative;
        color: set-text-color($dark-color);
        background-color: $dark-color;
        border-radius: 50%;
        padding: 2rem;
        margin-bottom: 3rem;
        transition: all 1s;
      }

      .process-step {
        font-style: normal;
        position: absolute;
        top: 0;
        right: 0;
        color: set-text-color($main-color);
        background-color: $main-color;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        transition: all 1s;
      }

      div {
        &:hover {
          .process-icon {
            background-color: $main-color;
            transform: translateY(3px) scale(1.05);
          }
          .process-step {
            background-color: $dark-color;
          }
          p,
          h3 {
            transition: transform 2s ease-out;
            transform: translateY(4px);
          }
        }
      }
    }
  }
}


// media queries //
@import "../../styles/media"; 